# Ignore compiled class files
*.class

# Ignore Node.js modules
/node_modules

# SSH Keys
*.pem
*.ppk

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

# Merge Files
*.bak

# Gradle temporary files
/build/
/buildSrc/
target/

# Eclipse files
**/.project
**/.classpath
**/.settings/
/bin/
/blog/bin/
**/.tern-project

# IntelliJ IDEA files
**/*.iml
**/.idea
**/.gradle
/.idea
.idea/
workspace.xml
uiDesigner.xml

# macOS system file
.DS_Store

# Virtual machine crash logs
hs_err_pid*
