# Ignore compiled class files
*.class

# Ignore Node.js modules
/node_modules

# SSH Keys
*.pem
*.ppk

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

# Merge Files
*.bak

# Gradle temporary files
/build/
/buildSrc/
target/

# Eclipse files
**/.project
**/.classpath
**/.settings/
/bin/
/blog/bin/
**/.tern-project

# IntelliJ IDEA files
**/*.iml
**/.idea
**/.gradle

# macOS system file
.DS_Store

# Virtual machine crash logs
hs_err_pid*



Certainly! Including .DS_Store in your .gitignore file prevents the macOS system file from being tracked by Git. Here's an updated version of your .gitignore file that includes ignoring .DS_Store:

gitignore
Copy code
# Ignore compiled class files
*.class

# Ignore Node.js modules
/node_modules

# SSH Keys
*.pem
*.ppk

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

# Merge Files
*.bak

# Gradle temporary files
/build/
/buildSrc/

# Eclipse files
**/.project
**/.classpath
**/.settings/
/bin/
/blog/bin/
**/.tern-project

# IntelliJ IDEA files
**/*.iml
**/.idea
**/.gradle
/.idea
.idea/
workspace.xml
uiDesigner.xml